$theme-color-main: #fb1;
$theme-color-accent: hsl(273, 50%, 40%);
$box-shadow-huge: 0 1px 6px 2px hsla(0, 0%, 0%, 0.08),
  0 12px 32px 4px hsla(0, 0%, 0%, 0.08), 0 24px 38px 4px hsla(0, 0%, 0%, 0.08);
