$theme-color-main: #fb1;
$theme-color-accent: hsl(273, 50%, 40%);
$box-shadow-huge: 0 1px 6px 2px hsla(0, 69%, 31%, 0.08),
  0 12px 32px 4px hsla(0, 0%, 0%, 0.08), 0 24px 38px 4px hsla(0, 0%, 0%, 0.08);

.app-header {
  background: $theme-color-accent;
  color: lighten($theme-color-accent, 50%);
  padding: 1em 1em 2.5em;
  text-align: center;

  .row {
    display: inline-flex;
    flex-direction: column;
    transition: 300ms ease opacity;
  }

  h1 {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
    line-height: 1.2;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }
}

.app-icon {
  --fill: #{$theme-color-main};
  --icon-size: 1.25em;
  margin-right: -0.25em;
}
